<div class="albums">
    <% albums.forEach(album=> { %>
        <div>
            <div><a href="/albums/<%= album._id %>">
                    <%= album.name %>
                </a></div>
        </div>
        <% }) %>
</div>