<style>
    p {
        width: min-content;
    }
    .albums {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 7px;
        margin: 5px;
    }

    .album {
        width: max-content;
        height: min-content;
        border: 1px solid black;
    }
</style>

<div class="albums">
    <% albums.forEach(album => { %>
        <div class="album">
            <a href="/albums/<%= album._id %>">
                <%= album.name %>
            </a>
            <form action="/delete-album" method="post" style="display: inline;">
                <input type="text" name="albumId" value="<%= album._id %>" style="display: none;">
                <input type="submit" value="Delete" name="<%= album._id %>">
            </form>
        </div>
    <% }); %>
</div>