<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview</title>
    <style>
        .photo img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body>
    <%- include ("../layout/navbar") %>
        
    <div style="min-height: 94vh;">
        <div class="">
            <a href="http://localhost:3000<%= (origin) %>">Go back to previous page</a>

            <div class="photo">
                <img src="http://localhost:3000/images/<%= photo.filename %>"/>
            </div>
        </div>
    </div>
</body>
</html>