<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>
</head>
<body>
    <%- include("../layout/navbar") %>

    <form action="/create-album" method="post">
        <input type="text" name="name" placeholder="Album name">

        <input type="checkbox" name="isPrivate" checked>Private Album

        <input type="submit" value="Create">
    </form>

    <%- include("../layout/albums") %>
</body>
</html>