<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - <%= user.name %></title>
    <link rel="stylesheet" href="https://localhost:3000/estilos/main.css">
</head>
<body>
    <%- include("../layout/navbar") %>
    
    <h1>Hola, <%= user.name %></h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="photos" id="fileInput" class="">
        
        <input type="button" id="bPick" value="Elegir fotos" class="btn btn-primary p-2">

        <input type="submit" id="bPick" value="Subir fotos" class="btn btn-primary p-2">
    </form>

    <%- include("../layout/photos") %>
</body>
</html>